body {
    height: 100%;
    width: 100%;
    position: relative;
}

h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: auto;
    max-width: 1200px;
    width: 80vw;
    height: 100%;
    border: 1px solid #f90303;
    position: relative;

}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vw;
    max-height: 200px;
    min-height: 200px;
}
.title {
    letter-spacing: .2em;
    & > div {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}

.bag {
    width: 20vw;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f90303;
    background-image: url('../assets/bag.svg');
    background-position: center;
    background-size: 30%;
    background-repeat: no-repeat;
}

.books-list {
    display: flex;
    flex-direction: column;
    gap: 3vw;
}
.list-title {
    align-self: center;
    letter-spacing: .2em;
}

.pop {
    margin: auto;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
        left: 100% / 1.9;
        top: 100% / 2;
    width: 70%;
    // height: 20vw;
    background-color: rgb(255, 255, 255);
    padding: 2vw;
    & .description {
        margin: auto 0;
    }
}

.back {
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color:  rgba(0, 0, 0, 0.4);
}

.btn-close {
    border-radius: 100%;
    box-sizing: border-box;
    border: 2px solid white;
    width: 15px;
    height: 15px;
    display: flex;
    align-items:center;
    justify-content: center;
    position: absolute;
    z-index: 300;
    background:rgba(0, 0, 0, 0);
    right: -16px;
    top: -16px;    
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: all 0.2s;
    }                                                                                                                                                                                                                 
}

.hide {
    display: none !important; 
}
